@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,400;1,9..40,500&family=Jost:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-title {
  @apply text-4xl font-black text-cyan-700;
}

.second-title {
  @apply text-xl font-semibold text-cyan-900;
}

.third-title {
  @apply font-semibold text-cyan-700;
}

.infobox-text {
  @apply text-xs font-semibold;
}

.stack-text {
  @apply text-sm font-semibold ;
}

.project-title {
  @apply font-black text-lg;
}

.project-description {
  @apply text-sm;
}

.project-btn {
  @apply text-sm font-semibold;
}

#stack-container::-webkit-scrollbar {
  width: 8px; /* Scrollbar genişliği */
}

#stack-container::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}

#stack-container::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

.text-container {
  @apply bg-gray-100 rounded-2xl text-cyan-800;
}

.stack-ul-li {
  @apply text-cyan-800 bg-cyan-100 px-2 py-1 rounded-lg text-sm font-semibold;
}
